{% load static %}

<!DOCTYPE HTML>
<html lang="tr">
<head>
	<title>{% block title %}Blog Projesi{% endblock %}</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static "common-css/bootstrap.css" %}" rel="stylesheet">

	<link href="{% static "common-css/ionicons.css" %}" rel="stylesheet">


{% block css %}

{% endblock %}




</head>


{% include "header.html" %}

{% block section %}

{% endblock %}

{% include "footer.html" %}

	<!-- SCRIPTS -->

	<script src="{% static "common-js/jquery-3.1.1.min.js" %}"></script>

	<script src="{% static "common-js/tether.min.js" %}"></script>

	<script src="{% static "common-js/bootstrap.js" %}"></script>

<script src="{% static "common-js/swiper.js" %}"></script>

	<script src="{% static "common-js/scripts.js" %}"></script>

{% block js %}

{% endblock %}

</body>
</html>
